/* .pokedex {
  width: 100%;
  height: 100px;
  color: white;
  background: green;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: auto;
  padding: 0;
}

.container {
  width: 250px;
  height: 200px;
  margin: 15px;
  padding: 10px;
  background: rgb(70, 68, 64);
  color: rgb(255, 248, 224);
  border-radius: 20px;
  border: 5px solid rgba(30, 170, 105, 0.824);
  box-shadow: 0 0 10px 0 rgb(90, 75, 46);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.container:hover {
  box-shadow: 0 0 10px 0 rgb(201, 62, 62);
  transform: scale(1.05);
  opacity: 0.8;
}

.container3 {
    
  margin: 0;
  background: rgb(238, 208, 148);
} */
