@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.divGeneral{
    width: 100%!important;
    margin:auto!important;
    padding:0!important;
}
body{    
    margin: 0;
    padding: 0;
    
}
.container{
    width: 100% !important;
    padding-top: 20px;
    display: flex;
    
    font-family: 'Pokemon Solid', sans-serif;
}
.pkdex{
       /* background-image:url("https://t4.ftcdn.net/jpg/02/56/38/41/240_F_256384176_EUBIrjAWG73DEg4RSmKQNEJg2ANh7uSC.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: black;
    
}

.left-content,.right-content{
    flex-basis: 100%;
}

.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap:2rem;
}
    
.card{
    width: 250px;
    height: 140px;
    border: none;
    background-color: #176ed3;    
    border-radius: 1rem;
    border: 3px solid black;
    box-shadow: 0 7px 7px rgba(0,0,0,0.6);
    padding: 0 1.5rem;
    margin-left: 0;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Pokemon Solid', sans-serif;
    color: rgb(245, 213, 33);    
}
.card:hover{
    transform: scale(1.1);
}
.right-content{
    width: 40%;
    text-align: center;
    color: black;
    position: fixed;
    top:100px;
    right: 10px;

}
.right-content img{
    margin: 1.5rem;
    height: 160px;
}
.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
h2{
    padding-top: 10%;
}
.abilities{
    width: 10%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    height: 23px;
    width: 100px;
    padding:20%;
    margin-left: 20%;
    background-color: #176ed3;
    color: white;
    font-size: 12px;
    border : none;
    margin-left: 1rem;
}
.base-stat{
    width: 200px;
    margin-top: 20%;
    margin-bottom: 0;
    color:black;
    text-align: center;
}
.btn-group{
    display: flex;
}
.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
    border-radius: 8px;
}
.select{
    font-size: 20px;
    width: 200px;
    height: 40px;
    padding: 5px;
    border-radius: 8px;
    background-color: #176ed3;
    color: rgb(245, 213, 33);
    border : 5px solid black;
}
.select:hover{
    transform: scale(1.2);
}

.testtest{
    margin-right: 0 !important;
    margin-left: 0 !important;
    
    
}

.divGeneral{
    margin: 0% 0% 50%!important;
}

.right{
padding-top: 5%;
padding-right: 35%;
}

.start{
        margin-left: 46%;
        margin-top: 13%;
        --glow-color: white;
        --glow-spread-color: white;
        --enhanced-glow-color: white;
        --btn-color: black ;
        border: .25em solid var(--glow-color);
        padding: 1em 3em;
        color: white;
        font-size: 15px;
        font-weight: bold;
        background-color: var(--btn-color);
        border-radius: 1em;
        outline: none;
        box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 1em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
        text-shadow: 0 0 .5em var(--glow-color);
        position: relative;
        transition: all 0.3s;
       }
       
.start::after {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 120%;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--glow-spread-color);
        filter: blur(2em);
        opacity: .7;
        transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
       }
       
.start:hover {
        color: black;
        background-color: var(--glow-color);
        box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 2em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
       }
       
.start:active {
        box-shadow: 0 0 0.6em .25em var(--glow-color),
               0 0 2.5em 2em var(--glow-spread-color),
               inset 0 0 .5em .25em var(--glow-color);
       }

.credits{
    height: 700px;
    background-image: url("https://images8.alphacoders.com/113/1138021.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}

.contain {
    position: relative;
    width: 190px;
    height: 254px;
  }
  
  .card2 {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 250px;
    height: 280px;
    /* background: linear-gradient(120deg, #f96666 0%, #4490ec 100%); */
    background: url("https://t4.ftcdn.net/jpg/02/56/38/41/240_F_256384176_EUBIrjAWG73DEg4RSmKQNEJg2ANh7uSC.jpg") ;
    padding: 16px;
    border: 5px solid black;
    border-radius: 8px;
    transition: all .5s ease-in-out;
    cursor: pointer;
  }
  
  .card-hidden {
    display: flex;
    transform: translateY(200%);
    flex-direction: column;
    gap: 0.5rem;
    transition: transform .5s ease-in, opacity .3s ease-in;
    opacity: 0;
    position: absolute;
    margin-right: 70%;
    margin-top: 25%;
  }
  
  .card-border {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px dashed #232323;
    border-radius: 8px;
    z-index: -1;
  }
  
  /*Hovers*/
  .card2:hover {
    transform: translate(-0px, -15px);
    border-color: #5bc0eb;
  }
  
  .card2:hover .card-hidden {
    transform: translateY(0);
    opacity: 1;
  }
  
  .card2:hover .title {
    transform: translateY(200%);
  }
  
  /*Text*/
  .title {
    position: absolute;
    bottom: 0.5rem;
    transition: transform .25s ease-out;
  }
  
  /*Button*/
  .but{
    height: 35px;
    padding: 8px;
    background-color: #53aed4;
    cursor: pointer;
    position: absolute;
    margin-top: 0;
    margin-left: 30%;
    margin-bottom: 20%;
    border: none;
  }
  
  .but:hover {
    background-color: #5bc0eb;
    transform: scale(1.1);
  }

  input{
    /* position: absolute; */
    width: 30%;
    margin-left: 16.5%;
    margin-top: 5%;
  }
  
  
  
  
  
  


/* .buttoncaroussel{
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;        
    width: 100px;
    height: 100px;
    background-color: transparent;
    color: transparent;
    border: none;
    padding: 0.3rem 0;
    border-radius: 10px;
    opacity: 100;
}

.imgcaroussel{
    width: 200px;
    height: 100%;
    border-radius: 10px;
} */





