.game {
  position: "fixed";
  width: 100%;
  background-color: rgb(68, 140, 85);
  z-index: -1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
.winner {
  background-color: transparent;
  border-radius: 20px;
  font-weight: bold;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 4;
  margin-bottom: 400px;
}
.player {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  margin: 0px;
  border: 5px solid rgb(235, 235, 57);
}
.decor-game {
  border: 1px solid black;
  height: 390px;
  width: 700px;
  margin-bottom: 400px;
  position: absolute;
  z-index: 2;
}
.switch {
  position: "fixed";
  z-index: 1;
  margin-left: 5px;
  margin-bottom: 400px;
  border-radius: 20px;
}
.game2 {
  position: absolute;
}
.full-human {
  border: 5px solid rgb(85, 8, 86);
  width: 350px;
  height: 550px;
  display: flex;
  flex-direction: column;
  margin: 0;
}
/* image */
.human {
  /* border: 5px solid rgb(34, 0, 255); */
  margin-top: 150px;
  z-index: 2;
}
/* stats */
.stats-human {
  border: 5px solid rgb(80, 64, 184);
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attack-defence-human {
  border: 5px solid rgb(0, 149, 255);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.attack-human {
  border: 5px solid rgb(215, 250, 124);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
}
.defense-human {
  border: 5px solid rgb(215, 250, 124);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
}

.human {
  animation-name: move-lightly-human;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes move-lightly-human {
  100% {
    transform: translate(10px, 2px);
  }
  0% {
    transform: translate(-2px, -10px);
  }
}

/* image + stats */
.full-cpu {
  /* position: absolute; */
  border: 5px solid rgb(234, 99, 236);
  width: 350px;
  height: 550px;
  display: flex;
  flex-direction: column;
}
/* image */
.cpu {
  animation-name: move-lightly-cpu;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-top: 100px;
  /* border: 5px solid rgb(0, 149, 255); */
  z-index: 2;
}
@keyframes move-lightly-cpu {
  50% {
    transform: translate(10px, 2px);
  }
  100% {
    transform: translate(-2px, -10px);
  }
}
/* stats */
.stats-cpu {
  border: 5px solid rgb(33, 176, 52);
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attack-defense-cpu {
  border: 5px solid rgb(0, 149, 255);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.attack-cpu {
  border: 5px solid rgb(215, 250, 124);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
}
.defense-cpu {
  border: 5px solid rgb(215, 250, 124);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
}

.attack-btn {
  position: absolute;
  width: 109px;
  height: 101px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  z-index: 4;
  margin-left: 739px;
  margin-top: 37px;
  opacity: 0.1;
}
.attack-btn:hover {
  box-shadow: inset 0 0 20px rgb(186, 47, 22);
  opacity: 1;
}

/* img {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
} */
