.game{
    width: 100%;
    background-color: rgb(153, 210, 156);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 1000px;
    border:5px solid rgb(255, 0, 4);
}
.active{
    color: red;
}
/* .blockFight{
    display: flex;
    flex-direction: column;    
} */
.btn {
    width:150px;
    height: 50px;
    background-color: rgb(183, 40, 40);
    border: 1px solid black;
    margin: 10px;
}
.winner{
    background-color: rgb(189, 137, 137);
    border: 1px solid black;
    border-radius: 20px;
    font-weight: bold;    
    width: 230px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player {
    /* animation-name: move-lightly; */
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: flex!important;   
    align-items: center!important;
    justify-content: center!important;
    margin:0px;
    width: 100%!important;
    height: 100%!important;  
    border:5px solid yellow;
  }
  /* @keyframes move-lightly {
    0% {
      transform: translate(3px, 3px);
    }
    100% {
      transform: translate(-3px, -3px);
    }
  } */

/* image + stats */
.full-human{
    border:5px solid rgb(85, 8, 86);
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    margin:0;
}
/* image */
.human{     
    border:5px solid rgb(34, 0, 255);    
    margin-top: 50px;
}
/* stats */
.stats-human{
    border:5px solid rgb(80, 64, 184);
    width: 350px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.attack-defence-human{
    border:5px solid rgb(0, 149, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.attack-human{
    border:5px solid rgb(215, 250, 124);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
}
.defense-human{
    border:5px solid rgb(215, 250, 124);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
}

/* image + stats */
.full-cpu{    
    border:5px solid rgb(234, 99, 236);
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
}
/* image */
.cpu{ 
    border:5px solid rgb(0, 149, 255);    
    margin-bottom: 50px;
}
/* stats */
.stats-cpu{
    border:5px solid rgb(33, 176, 52);
    width: 350px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.attack-defense-cpu {
    border:5px solid rgb(0, 149, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.attack-cpu{
    border:5px solid rgb(215, 250, 124);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
}
.defense-cpu{
    border:5px solid rgb(215, 250, 124);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
}



  


  /* img {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
} */