@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
.decorciel {
  background-image: url("../asset/decor-ciel.png");
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1; 
  position: -webkit-sticky;  
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.playernamecpu {
  font-family: "Pokemon Solid", sans-serif;
  color: rgb(245, 213, 33);
  text-shadow: -5px -5px 10px #0d6efd, 3px -3px 0 #0d6efd, -3px 5px 0 #0d6efd,
    3px 3px 3px #0d6efd;
  letter-spacing: 2px;  
  padding-bottom: 30px;
}
.decorfight:hover{
  transform-style: preserve-3d;
  transform: rotateX(5deg) rotateY(5deg);
}

.sasha {
  position: absolute;
  z-index: 1;
  width: 230px;
  margin-left: 1300px;
}
.sasha2 {
  position: absolute;
  z-index: 1;
  margin-right: 1250px;
  width: 200px;
}
.game {
  position: "fixed";
  width: 100%;

  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.winner {
  background-color: transparent;
  border-radius: 20px;
  font-weight: bold;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;
  margin-bottom: 400px;
}
.player {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  margin: 0px;
}
.decor-game {
  height: 390px;
  width: 700px;
  margin-bottom: 400px;
  position: absolute;
  z-index: 2;
}
.switch { 
  position: "fixed";
  z-index: 1;
  margin-left: 5px;
  margin-bottom: 400px;
  border-radius: 20px;
}
.switch:hover{
  transform-style: preserve-3d;
  transform: rotateX(5deg) rotateY(5deg);
}

.game2 {
  position: absolute;
}
.full-human {
  width: 350px;
  height: 550px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* stats */
.stats-human {
  border: 5px solid rgb(90, 102, 58);
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attack-defence-human {
  border: 5px solid rgb(0, 149, 255);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.attack-human {
  border: 5px solid rgb(215, 250, 124);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
}
.defense-human {
  border: 5px solid rgb(24, 181, 152);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
}

.human {
  box-shadow: 5px 10px 10px black;
  outline: 2px solid red;
  animation-name: move-lightly-human;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-top: 200px;
  margin-left: 30px;
  z-index: 2;
}
@keyframes move-lightly-human {
  100% {
    transform: translate(5px, 5px);
  }
  0% {
    transform: translate(-5px, -5px);
  }
}
.human-stop {
  margin-top: 150px;
  z-index: 2;
}

/* image + stats */
.full-cpu {
  /* border: 5px solid rgb(234, 99, 236); */
  width: 350px;
  height: 550px;
  display: flex;
  flex-direction: column;
}
/* image */
.cpu {
  box-shadow: 5px 10px 10px black;
  outline: 2px solid red;
  animation-name: move-lightly-cpu;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-top: 150px;
  z-index: 2;
}
@keyframes move-lightly-cpu {
  50% {
    transform: translate(7px, 2px);
  }
  100% {
    transform: translate(-2px, -7px);
  }
}
.stats-cpu {
  border: 5px solid rgb(33, 176, 52);
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attack-defense-cpu {
  border: 5px solid rgb(0, 149, 255);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.attack-cpu {
  border: 5px solid rgb(215, 250, 124);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
  display: grid;
  border: 1px solid black;
}
.defense-cpu {
  border: 5px solid rgb(215, 250, 124);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
}
.attack-btn {
  position: absolute;
  width: 109px;
  height: 101px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  z-index: 4;
  margin-left: 739px;
  margin-top: 37px;
  opacity: 0.1;
  border: none;
}

.attack-btn:hover {
  box-shadow: inset 0 0 20px rgb(186, 47, 22);
  opacity: 1;
}
.btn-left {
  position: absolute;
  width: 109px;
  height: 101px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  z-index: 4;
  margin-right: 450px !important;
  margin-top: 340px;
  opacity: 0.1;
}
.btn-left {
  box-shadow: inset 0 0 20px rgb(186, 47, 22);
  opacity: 1;
}

.dead {
  animation-name: spin;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: alternate;

  z-index: 2;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(900deg);
  }
}
.deadhuman {
  margin-top: 150px;
  animation-name: spin2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: alternate;
  z-index: 2;
  animation-duration: 4s;
}
@keyframes spin2 {
  100% {
    transform: rotate(970deg);
  }
  0% {
    transform: rotate(0deg);
  }
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

.btn-newgame {
  width: 120px;
  height: 40px;
  box-shadow: inset 0 0 20px rgb(186, 47, 22);
  opacity: 1;
  border: none;
  border-radius: 10px;
  z-index: 5;
}
.btn-newgame:hover {
  box-shadow: inset 20px 10px 10px 20px rgb(49, 171, 252);
  /* opacity: 1; */
}
.blink {
  animation: blinker 2s linear infinite;
  animation-iteration-count: 2;
  margin-top: 100px;
  z-index: 2;
}
.blink2 {
  animation: blinker 2s linear infinite;
  animation-iteration-count: 2;
  margin-top: 150px;
  z-index: 2;
}

@keyframes blinker {
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
.hpBar-human {
  /* margin: auto; */
  height: 20px;
  background-color: rgb(61, 246, 10);
  border-radius: 10px;
  z-index: 2;
  opacity: 1;
}

.hpBar-cpu {
   /* margin: auto; */
   height: 20px;
   background-color: rgb(61, 246, 10);
   border-radius: 10px;
   z-index: 2;
   
}
.hpbar-fixed{
  position: absolute;
  padding: 1px;
  width: 250px;
  height: 22px;
  background-color: rgb(56, 88, 47);
  border-radius: 10px;
  z-index:2;
  opacity: 0.8;
  margin-left: 4px;
  
}
.numberhp{
  position:absolute;
  transform: rotateY(180deg);
  font-weight: bold;
  color: rgb(30, 111, 174); 
}
.numberhp2{
  position:absolute;
  /* transform: rotateY(180deg); */
  font-weight: bold;
  color: rgb(30, 111, 174); 
}
.hpbar-fixedcpu{
  transform: rotateY(180deg);
  position: absolute;
  padding: 1px;
  width: 250px;
  height: 22px;
  background-color: rgb(56, 88, 47);
  border-radius: 10px;
  z-index:2;
  opacity: 0.8;
  margin-left: 95px;
}
.home-switch {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  z-index: 4;
  margin-left: 840px;
  margin-bottom: 218px;
  opacity: 0.1;
  border: none;
}

.home-switch:hover {
  background-color: black;
  opacity: 0.3;
}
.special-attack {
  position: absolute;
  width: 109px;
  height: 101px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  z-index: 4;
  margin-left: 739px;
  margin-top: 37px;
  opacity: 0.1;
  border: none;
}
.human-move {
  animation-name: human-move;
  animation-duration: 4s;
  margin-top: 150px;
  z-index: 4;
}
@keyframes human-move {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}
.hp-bar {
  height: 20px;
  background-color: green;
  z-index: 2;
}

.currentAttack {
  position: absolute;
  text-shadow: 10px 10px 10px rgb(255, 255, 255);
  z-index: 3;
}
.image-transition-enter {
  opacity: 0;
}
.image-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.image-transition-exit {
  opacity: 1;
}
.image-transition-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
