.home {
    background-image: url(https://www.xtrafondos.com/wallpapers/resized/pokemon-unite-8254.jpg?s=large);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    margin: 0px;
    height: 3000px;
    width: 100vw;

}
    

